
*:focus {
    outline: none !important;
}

h1, h2, h3 {
    font-family: var(--title);
    font-weight: 700;
}

body {
    background: #f9f9f9;
}

figure {
    margin: 0;
}

/* helpers */
.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.saturation {
    cursor: pointer;
    filter: saturate(1);
    transition: all .4s ease;
}
.saturation:hover {
    filter: saturate(0);
}

.pagination .current {
    padding: .1875rem .625rem;
    background: var(--sec);
    color: #fefefe;
    cursor: default;
}

.p-relative {
    position: relative;
}

hr {
    max-width: 330px;
    margin: 0 auto;
    padding: 0 .5rem;
    border-bottom: 1px solid black;
}

@media (min-width:768px){
    hr {
        max-width: 75rem;
        border-bottom: 3px solid black;
    }  
}