/* Hoja de estilos para el blog y la seeción del blog en el inicio
1- Extracto de nota
    1.1 Contenedor del extracto
    1.1- Imagen
    1.2- Pié de imagen
    1.3- Contendeor de texto
    1.4- Título de l nota
    1.5- Botón nota completa

2- Detalle de la nota
    1.1- Imagen
    1.2- Pié de imagen
    1.3- Contenedor de texto
    1.4- Título de l nota
    1.5- Botón nota completa */


/* 1- Extrácto de nota */
.blog-tsinaka {
   padding: 0 1rem;
}
   
    /* 1.1- Contenedor del extracto */
    .blog-tsinaka_item {
        margin: auto auto 2rem;
        max-width: 360px;
        position: relative;
        width: 100%;
    }

    .blog-tsinaka_item {
        transition: all .4s ease;
    }



    .blog-tsinaka :nth-child(3).blog-tsinaka_item:hover,
    .blog-tsinaka :nth-child(4).blog-tsinaka_item:hover,
    .blog-tsinaka :nth-child(5).blog-tsinaka_item:hover {
        -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.4);
        box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.4);
    }

    @media (min-width: 768px) {
        .blog-tsinaka {
            max-width: 75rem;
            margin: auto !important;
        }
        .blog-tsinaka :nth-child(2).blog-tsinaka_item {
            max-width: 100%;
        }
        .blog-tsinaka :nth-child(3).blog-tsinaka_item,
        .blog-tsinaka :nth-child(4).blog-tsinaka_item,
        .blog-tsinaka :nth-child(5).blog-tsinaka_item {
            cursor: pointer;
            max-width: 32%;
            margin: initial;
            display: inline-block;
        }

        .blog-tsinaka :nth-child(4).blog-tsinaka_item {
            margin: 0 1.35%;
        }
    }


    @media (min-width: 1024px) {

        .blog-tsinaka :nth-child(2).blog-tsinaka_item {
            max-width: 100%;
        }

        .blog-tsinaka :nth-child(3).blog-tsinaka_item,
        .blog-tsinaka :nth-child(4).blog-tsinaka_item,
        .blog-tsinaka :nth-child(5).blog-tsinaka_item {
            max-width: 48%;
            margin: initial;
            display: inline-block;
            vertical-align: top;
        }

        .blog-tsinaka :nth-child(4).blog-tsinaka_item,
        .blog-tsinaka :nth-child(5).blog-tsinaka_item {
            height: 240px;
        }

        .blog-tsinaka :nth-child(5).blog-tsinaka_item {
            position: absolute;
            right: 1.5rem;
            bottom: 95px;
            max-width: 47%;
        }

        .blog-tsinaka :nth-child(3).blog-tsinaka_item {
            margin-right: 2rem;
            margin-bottom: 2rem;
        }

        .blog-tsinaka :nth-child(4).blog-tsinaka_item .content-text.-news,
        .blog-tsinaka :nth-child(5).blog-tsinaka_item .content-text.-news {
            width: 64%;
            display: inline-block;
            padding: 2rem 2rem 0;
            margin-bottom: 0;
        }

      
    }
    

    /* 1.1- Imagen */
    .blog-tsinaka_item .content-news-img {
        height: 190px;
        width: 100%;
        background-position: center top;
        background-size: cover;
        position: relative;
    }

    .blog-tsinaka_item .content-news-img .caption {
        display: none;
    }
    
    @media (min-width: 992px) {

        .blog-tsinaka_item .content-news-img .caption {
            background: rgba(32, 87, 130, 0.59);
            color: white;
            font-size: .7rem;
            width: 100%;
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: .2rem 1rem;
        }
    }

    @media (min-width: 1024px) {

        .blog-tsinaka :nth-child(3).blog-tsinaka_item .content-news-img {
            height: 301px;
        }

        .blog-tsinaka :nth-child(4).blog-tsinaka_item .content-news-img,
        .blog-tsinaka :nth-child(5).blog-tsinaka_item .content-news-img {
            width: 35%;
            height: 240px;
            display: inline-block;
        }


    }

    /* 1.2- Píe de imagen*/    
    .blog-tsinaka_item .content-news-img caption {
        font-family: var(--body);
        font-size: .85rem;
        background: white;
    }

    /* 1.3- Contenedor de texto*/
    .content-text.-news {
        margin-bottom: 1rem;
        display: block;
        padding: 2.5rem 1rem 2rem;
        position: relative;
    } 

        @media (min-width: 1024px) {
            .content-text.-news {
                padding: 2rem;
                vertical-align: top;
            } 
        }

    /* 1.4- Título de nota*/
    .blog-tsinaka :nth-child(2).content-text.-news .title.-news,
    .blog-tsinaka :nth-child(3).content-text.-news .title.-news,
    .blog-tsinaka :nth-child(4).content-text.-news .title.-news {
        font-size: 1rem;
        letter-spacing: -.04rem;
        font-weight: 700;
    } 


    .blog-tsinaka :nth-child(2).content-text.-news .title.-news:hover,
    .blog-tsinaka :nth-child(3).content-text.-news .title.-news:hover,
    .blog-tsinaka :nth-child(4).content-text.-news .title.-news:hover {
        text-decoration: underline;
    }

        @media (min-width: 1024px) {
            .blog-tsinaka :nth-child(2).content-text.-news .title.-news,
            .blog-tsinaka :nth-child(3).content-text.-news .title.-news,
            .blog-tsinaka :nth-child(4).content-text.-news .title.-news  {
                font-size: 1.2rem;
                letter-spacing: -.04rem;
            }
        }

    /* 1.5- Botón nota completa*/
    .blog-tsinaka_item .btn {
        background-color: var(--sec);
        width: 1.7rem;
        height: 1.7rem;
        right: 0;
        bottom: 0;
        position: absolute;
        text-align: center;
    }

    .blog-tsinaka_item .btn a {
        height: 1.7rem;
        width: 1.7rem;
        display: block;
        padding-top: .1rem;
        transition: all .4s ease;
    }

        .blog-tsinaka_item .btn a:hover {
            opacity: .5;
        }

        .blog-tsinaka_item .btn  i {
            color: white;
        }

    /* 1.5- Botón nota completa*/
    .in-blog .btn {
        background-color: var(--sec);
        width: 1.7rem;
        height: 1.7rem;
        right: 0;
        top: 0;
        position: absolute;
        text-align: center;
    }

    .in-blog .btn a {
        height: 1.7rem;
        width: 1.7rem;
        display: block;
        padding-top: .1rem;
        transition: all .4s ease;
    }

        .in-blog .btn a:hover {
            opacity: .5;
        }

        .in-blog .btn  i {
            color: white;
        }


.menu.share-blog {
    width: 7rem;
    position: absolute;
    right: 0;
    top:.5rem;
}

    .menu.share-blog a {
        padding: .6rem;
    }


.menu.share-blog.-in {
    width: 7rem;
    position: absolute;
    right: -1rem;
    top:-.5rem;
}
    
    
.in-blog {
    cursor: pointer;
    max-width: 360px;
    padding: 0 1rem;
    margin: 4rem auto 4rem;
}

.in-blog h3 {
    transition: all .4s ease;
}

    .in-blog h3:hover {
        text-decoration: underline;
    }

.in-blog img {
    transition: all .4s ease;
}

    .in-blog img:hover{
        filter: saturate(0);
        -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.4);
        box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.4);
    }

@media (min-width: 640px) {
    .in-blog {
        max-width: 75rem;
        padding: 0 1rem;
        margin: 10rem auto 4rem;
    }
    
}